@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #57BCB6 -10%, #13534F 70%);
  box-shadow: 0 16px 14px 0 #0a2c2a;
  padding: 18px 24px;
  max-width: 345px;
}

.video {
  margin-bottom: 26px;
}

.title {
  font-family: var(--font-noto);
  font-size: 25px;
  font-weight: 700;
}

.description {
  font-family: var(--font-noto);
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-family: var(--font-noto);
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  font-family: var(--font-noto);
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

@media screen and (max-width: 500px) {
  .container {
    width: 250px;
  }
  .video {
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
  }
  .skill {
    font-size: 20px;
  }
  .link {
    font-size: 20px;
  }
}